{% load static %}
<div class="col-md-6 col-lg-4">
    <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='000ms'>
        <div class="product__item__img">
            {% if product.main_image %}
            <a href="{% url 'product_details' product.id %}"><img src="{{ product.main_image.url }}" alt="grdeen"
                    style="width:100%; height:243px; object-fit: cover;"></a>
            {% else %}
            <a href="{% url 'product_details' product.id %}"><img src="{% static 'assets/images/image404.png' %}"
                    alt="grdeen" style="width:100%; height:243px; object-fit: cover;"></a>
            {% endif %}
            <div class="product__item__label">
                <span class="product__item__label__sale">{{ product.status }} </span>
            </div>
            <div class="product__item__label2 product__action-buttons"
                style="position: absolute;right: 15px; top: 15px; z-index: 1;">
                <div class="action-buttons-wrapper">
                    <a href="" class="product-action-btn wishlist-btn like_product" data-id="{{product.id}}"
                        title="Add to Wishlist">
                        <i class="icon-heart"></i>
                        <span class="btn-tooltip">Add to Wishlist</span>
                    </a>
                    <a href="" class="product-action-btn cart-btn cart_api cart-active" data-id="{{product.id}}"
                        title="Add to Cart">
                        <i class="icon-shopping-cart"></i>
                        <span class="btn-tooltip">Add to Cart</span>
                    </a>
                </div>
            </div>
            <!-- /.product-label -->

        </div><!-- /.product-image -->
        <div class="product__item__content-wrap">
            <div class="product__item__btn">
                <a href="#" class="grdeen-btn buy-now-btn" data-id="{{product.id}}"><span>Buy Now</span></a>
            </div>
            <div class="product__item__content">
                <h4 class="product__item__title"><a href="{% url 'product_details' product.id %}">{{ product.name }}</a>
                </h4><!-- /.product-title -->
                <div class="product__item__price">
                    <span class="product__item__price__regular">{{ product.price }}</span>
                    {% if product.old_price and product.old_price > product.price %}
                    <span class="product__item__price__offer">{{ product.old_price }}</span>
                    {% endif %}
                </div><!-- /.product-price -->

                <div class="product__item__views" style="margin-top: 8px; color: #666; font-size: 13px;">
                    <i class="fa fa-eye" style="margin-right: 5px;"></i>{{ product.views }} views
                </div><!-- /.product-views -->
            </div><!-- /.product-content -->
        </div>
    </div><!-- /.product-item -->
</div><!-- /.col-md-6 col-lg-4 -->