   {% extends "base.html" %} {% load static %}
   {% block content %}

        <section class="page-header">
            <div class="page-header__bg"></div>
            <div class="page-header__shape wow fadeInUp" data-wow-delay="200ms"></div>
            <div class="page-header__overlay"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">About</h2>
                <ul class="grdeen-breadcrumb list-unstyled">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>About</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="about-one about-one--two about-one--two--about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-one__image wow fadeInLeft" data-wow-delay="100ms">
                            <div class="about-one__shapetop"></div>
                            <img class="about-one__bigimage" src="{% static 'assets/images/resources/about-image2-1.jpg' %}" alt="grdeen">
                            <div class="about-one__smimage">
                                <img src="{% static 'assets/images/resources/about-image2-2.jpg' %}" alt="grdeen">
                            </div>

                            <div class="about-one__shapebottom"></div>
                        </div>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="100ms">
                        <div class="about-one__content">
                            <div class="about-one__content__sctwap">
                                <div class="sec-title">

                                    <div class="sec-title__img">
                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" direction="rtl" width="12.000000pt" height="10.000000pt" viewbox="0 0 12.000000 10.000000" preserveaspectratio="xMidYMid meet">
                                            <g transform="translate(0.000000,10.000000) scale(0.100000,-0.100000)" stroke="none">
                                                <path d="M58 84 c12 -8 22 -24 22 -34 0 -10 -10 -26 -22 -34 l-22 -16 27 0
			c17 0 32 9 43 25 15 23 15 27 0 50 -11 16 -26 25 -43 25 l-27 0 22 -16z"></path>
                                            </g>
                                        </svg>
                                    </div>


                                    <span class="sec-title__tagline">{{ intro.title }}</span><!-- /.sec-title__tagline -->

                                    <h2 class="sec-title__title">{{ intro.subtitle }}</h2><!-- /.sec-title__title -->
                                </div><!-- /.sec-title -->
                            </div>
                            <p class="about-one__content__text">
                                {{intro.description}}
                            </p>
                            <div class="about-one__content__qualitwrap">
                                <div class="about-one__content__qualitwrap__col">
                                    <div class="about-one__content__qualitwrap__icon">
                                        {{ intro.icon1|safe }}
                                    </div>
                                    <h4 class="about-one__content__qualitwrap__title">{{ intro.icon_text1|safe }}</h4>
                                </div>
                                <div class="about-one__content__qualitwrap__col mb-0">
                                    <div class="about-one__content__qualitwrap__icon">
                                         {{ intro.icon2|safe }}
                                    </div>
                                    <h4 class="about-one__content__qualitwrap__title">{{ intro.icon_text2|safe }}</h4>
                                </div>
                                <div class="about-one__content__qualitwrap__pricesbox text-center">
                                    <div class="about-one__content__qualitwrap__tpright">
                                        <i class="icon-pot"></i>
                                    </div>
                                    <div class="about-one__content__qualitwrap__btmleft">
                                        <i class="icon-pot"></i>
                                    </div>
                                    <strong class="about-one__content__qualitwrap__price">{{ intro.experience_years }}+</strong>
                                    <span class="about-one__content__qualitwrap__text">Years Of Experience</span>
                                </div>
                            </div>
                            <ul class="list-unstyled about-one__content__list">
                                <li><i class="icon-check-solid"></i>{{ intro.list1|safe }}</li>
                                <li><i class="icon-check-solid"></i>{{ intro.list2|safe }}</li>
                                <li><i class="icon-check-solid"></i>{{ intro.list3|safe }}</li>
                            </ul>
                            
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-one -->

        <section class="feature-one feature-one--two">
            <div class="container">
                <div class="row gutter-y-30 feature-one__row">
                    {% for feature in features %}

                    <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="00ms">
                        <div class="feature-one__item">
                            
                            <div class="feature-one__item__bg" style="background-image: url({% static 'assets/images/shapes/feature-bg-2-1.png' %});"></div>
                            <div class="feature-one__item__bgshape" style="background-image: url({% static 'assets/images/shapes/feature-shape3-1.png' %});"></div>

                            <div class="feature-one__item__content">
                                <h4 class="feature-one__item__title">{{ feature.title }}</h4>
                                <p class="feature-one__item__text">{{ feature.description }}</p>
                            </div>

                            <div class="feature-one__item__iconwrap">
                                <div class="feature-one__item__icon">
                                    {{ feature.icon|safe}}
                                </div>
                            </div>
                        </div><!-- feature-item -->
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
        </section>
        <!-- Feature End -->

        <section class="funfact-one funfact-one--about">
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-lg-6">
                        <div class="funfact-one__content">
                            <div class="funfact-one__content__sctwrap wow fadeInUp" data-wow-delay="100ms">
                                <div class="sec-title">

                                    <div class="sec-title__img">
                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" direction="rtl" width="12.000000pt" height="10.000000pt" viewbox="0 0 12.000000 10.000000" preserveaspectratio="xMidYMid meet">
                                            <g transform="translate(0.000000,10.000000) scale(0.100000,-0.100000)" stroke="none">
                                                <path d="M58 84 c12 -8 22 -24 22 -34 0 -10 -10 -26 -22 -34 l-22 -16 27 0
			c17 0 32 9 43 25 15 23 15 27 0 50 -11 16 -26 25 -43 25 l-27 0 22 -16z"></path>
                                            </g>
                                        </svg>
                                    </div>


                                    <span class="sec-title__tagline">{{ ourfacts.last.title }}</span><!-- /.sec-title__tagline -->

                                    <h2 class="sec-title__title">{{ ourfacts.last.subtitle }}</h2><!-- /.sec-title__title -->
                                </div><!-- /.sec-title -->
                            </div>
                            <p class="funfact-one__content__text">{{ ourfacts.last.description }}</p>
                            <div class="funfact-one__content__bookwrap d-flex align-items-center">
                                <a href="{% url 'contact' %}" class="grdeen-btn funfact-one__content__bookwrap__btn"><span>{{ ourfacts.last.button_name }}</span></a>
                                <p class="funfact-one__content__bookwrap__text">{{ ourfacts.last.button_text }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled funfact-one__list">
                            <li class="funfact-one__item count-box">
                                <div class="work-process-one__col">
                                    <div class="work-process-one__col__circlewrap">
                                        <div class="work-process-one__col__icon">
                                            <div class="funfact-one__countwrap">
                                                <strong class="funfact-one__count count-text" data-stop="{{ ourfacts.last.project_number }}" data-speed="1500"></strong>
                                                <span class="funfact-one__count">K</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-process-one__col__info text-center">
                                        <h3 class="work-process-one__col__title">Projects Completed</h3>
                                        <p class="work-process-one__col__text">{{ ourfacts.last.project_content }}</p>
                                    </div>
                                    <div class="work-process-one__col__shapebg"></div>
                                </div>
                            </li><!-- /.funfact-one__item -->

                            <li class="funfact-one__item count-box">
                                <div class="work-process-one__col">
                                    <div class="work-process-one__col__circlewrap">
                                        <div class="work-process-one__col__icon">
                                            <div class="funfact-one__countwrap">
                                                <strong class="funfact-one__count count-text" data-stop="{{ ourfacts.last.customer_number }}" data-speed="1500"></strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-process-one__col__info text-center">
                                            <h3 class="work-process-one__col__title">Satisfied Customers</h3>
                                            <p class="work-process-one__col__text">{{ ourfacts.last.customer_content }}</p>
                                    </div>
                                    <div class="work-process-one__col__shapebg"></div>
                                </div>
                            </li><!-- /.funfact-one__item -->
                        </ul><!-- /.list-unstyled funfact-one__list -->
                    </div>
                </div>
            </div><!-- /.container -->
        </section><!-- /.funfact-one -->

        <section class="our-benefits-one our-benefits-one--two">
            <div class="our-benefits-one__shapebl1">
                <img src="{% static 'assets/images/shapes/skill-shape-black1-1.png' %}" alt="grdeen">
            </div>
            <div class="our-benefits-one__shapebl2">
                <img src="{% static 'assets/images/shapes/skill-shape-black1-2.png' %}" alt="grdeen">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="our-benefits-one__left wow fadeInRight" data-wow-delay="100ms">
                        <div class="our-benefits-one__content">
                            <div class="our-benefits-one__content__sctwap">
                                <div class="sec-title">

                                    <div class="sec-title__img">
                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" direction="rtl" width="12.000000pt" height="10.000000pt" viewbox="0 0 12.000000 10.000000" preserveaspectratio="xMidYMid meet">
                                            <g transform="translate(0.000000,10.000000) scale(0.100000,-0.100000)" stroke="none">
                                                <path d="M58 84 c12 -8 22 -24 22 -34 0 -10 -10 -26 -22 -34 l-22 -16 27 0
			c17 0 32 9 43 25 15 23 15 27 0 50 -11 16 -26 25 -43 25 l-27 0 22 -16z"></path>
                                            </g>
                                        </svg>
                                    </div>


                                    <span class="sec-title__tagline">{{ ourbenefits.last.title }}</span><!-- /.sec-title__tagline -->

                                    <h2 class="sec-title__title">{{ ourbenefits.last.subtitle }}</h2><!-- /.sec-title__title -->
                                </div><!-- /.sec-title -->
                            </div>
                            <p class="our-benefits-one__content__text">
                                {{ ourbenefits.last.description }}
                            </p>
                            <div class="our-benefits-one__content__qualitwrap d-flex flex-wrap">
                                <div class="our-benefits-one__content__qualitwrap__col d-flex flex-wrap">
                                    <div class="our-benefits-one__content__qualitwrap__icon">
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                    <h4 class="our-benefits-one__content__qualitwrap__title">{{ ourbenefits.last.benefit1 }}</h4>
                                    <p class="our-benefits-one__content__text skill-text">{{ ourbenefits.last.benefit1_text }}</p>
                                </div>

                                <div class="our-benefits-one__content__qualitwrap__col d-flex flex-wrap">
                                    <div class="our-benefits-one__content__qualitwrap__icon our-benefits-one__content__qualitwrap__icon">
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                    <h4 class="our-benefits-one__content__qualitwrap__title">{{ ourbenefits.last.benefit2 }}</h4>
                                    <p class="our-benefits-one__content__text skill-text">{{ ourbenefits.last.benefit2_text }}</p>
                                </div>
                            </div>
                            <div class="our-benefits-one__content__listwrap d-flex justify-content-between">
                                <ul class="list-unstyled our-benefits-one__content__list">
                                    <li><i class="icon-check-solid"></i>{{ ourbenefits.last.benefit1_quality1 }}</li>
                                    <li><i class="icon-check-solid"></i>{{ ourbenefits.last.benefit1_quality2 }}</li>
                                    <li><i class="icon-check-solid"></i>{{ ourbenefits.last.benefit1_quality3 }}</li>
                                    <li><i class="icon-check-solid"></i>{{ ourbenefits.last.benefit1_quality4 }}</li>
                                </ul>
                                <div class="about-one__content__qualitwrap__pricesbox text-center">
                                    <div class="about-one__content__qualitwrap__tpright">
                                        <img src="{% static 'assets/images/shapes/skill-icon2-1.png' %}" alt="grdeen">
                                    </div>
                                    <div class="about-one__content__qualitwrap__inner">
                                        <strong class="about-one__content__qualitwrap__price">{{ ourbenefits.last.client_count }}+</strong>
                                        <span class="about-one__content__qualitwrap__text">{{ ourbenefits.last.client_text }}</span>
                                        <div class="testimonials-card__rating">
                                            <span class="testimonials-card__rating__start"><i class="fa fa-star"></i></span>
                                            <span class="testimonials-card__rating__start"><i class="fa fa-star"></i></span>
                                            <span class="testimonials-card__rating__start"><i class="fa fa-star"></i></span>
                                            <span class="testimonials-card__rating__start"><i class="fa fa-star"></i></span>
                                            <span class="testimonials-card__rating__start"><i class="fas fa-star-half-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="our-benefits-one__right">
                        <div class="our-benefits-one__image wow fadeInLeft" data-wow-delay="100ms">
                            <img class="our-benefits-one__bigimage" src="{% static 'assets/images/resources/skill-image1-1.jpg' %}" alt="grdeen">
                        </div>
                        <div class="our-benefits-one__shapetwo">
                            <div class="our-benefits-one__shapetwo__shapenormal">
                                <img src="{% static 'assets/images/shapes/skill-shape-base1-1.png' %}" alt="grdeen">
                            </div>
                            <div class="our-benefits-one__shapetwo__shapemultiply">
                                <img src="{% static 'assets/images/shapes/skill-shape-base1-1.png' %}" alt="grdeen">
                            </div>
                            <div class="our-benefits-one__shapetwo__shapemultiply">
                                <img src="{% static 'assets/images/shapes/skill-shape-base1-1.png' %}" alt="grdeen">
                            </div>
                            <div class="our-benefits-one__shapetwo__shapemultiply">
                                <img src="{% static 'assets/images/shapes/skill-shape-base1-1.png' %}" alt="grdeen">
                            </div>
                        </div>
                        <div class="our-benefits-one__shapebs1">
                            <img src="{% static 'assets/images/shapes/skill-shape-base1-1.png' %}" alt="grdeen">
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.our-benefits-one -->

        <section class="testimonials-one testimonials-one--two">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sec-title">

                            <div class="sec-title__img">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" direction="rtl" width="12.000000pt" height="10.000000pt" viewbox="0 0 12.000000 10.000000" preserveaspectratio="xMidYMid meet">
                                    <g transform="translate(0.000000,10.000000) scale(0.100000,-0.100000)" stroke="none">
                                        <path d="M58 84 c12 -8 22 -24 22 -34 0 -10 -10 -26 -22 -34 l-22 -16 27 0
			c17 0 32 9 43 25 15 23 15 27 0 50 -11 16 -26 25 -43 25 l-27 0 22 -16z"></path>
                                    </g>
                                </svg>
                            </div>


                            <span class="sec-title__tagline">{{ ourtestimonials.last.title }}</span><!-- /.sec-title__tagline -->

                            <h2 class="sec-title__title">{{ ourtestimonials.last.subtitle }}</h2><!-- /.sec-title__title -->
                        </div><!-- /.sec-title -->
                    </div>
                </div>
                <div class="testimonials-one__carousel grdeen-owl__carousel grdeen-owl__carousel--with-shadow grdeen-owl__carousel--basic-nav owl-carousel" data-owl-options='{
			"items": 1,
			"margin": 0,
			"loop": false,
			"smartSpeed": 700,
			"nav": false,
			"navText": "",
			"dots": true,
			"autoplay": false,
			"responsive": {
				"0": {
					"items": 1
				},
				"767": {
					"items": 2,
					"margin": 30
				},
				"992": {
					"items": 3,
					"margin": 30
				}
			}
		}'>
        {% for testimonial in ourtestimonials %}

                    <div class="item">
                        <div class="testimonials-card testimonials-dark-card  wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                            <div class="testimonials-card__inner">
                                <div class="testimonials-card__ratingwrap d-flex align-items-center justify-content-between">
                                    <div class="testimonials-card__rating">
                                        <span class="testimonials-card__rating__start"><i class="fa fa-star"></i></span>
                                        <span class="testimonials-card__rating__start"><i class="fa fa-star"></i></span>
                                        <span class="testimonials-card__rating__start"><i class="fa fa-star"></i></span>
                                        <span class="testimonials-card__rating__start"><i class="fa fa-star"></i></span>
                                        <span class="testimonials-card__rating__start"><i class="fa fa-star"></i></span>
                                    </div><!-- /.testimonials-card__rating -->
                                    <div class="testimonials-card__icon">
                                        <img src="{% static 'assets/images/shapes/funfact-icon2-1.png' %}" alt="">
                                    </div>
                                </div>

                                <div class="testimonials-card__content">
                                     {{ testimonial.feedback }}
                                </div><!-- /.testimonials-card__content -->
                                <div class="testimonials-card__top">
                                    <div class="testimonials-card__image">
                                        <img src="{{ testimonial.image.url }}" alt="{{ testimonial.name }}">
                                    </div><!-- /.testimonials-card__image -->

                                    <div class="testimonials-card__top__left">
                                        <h3 class="testimonials-card__name">
                                            {{ testimonial.name }}
                                        </h3><!-- /.testimonials-card__name -->
                                        <p class="testimonials-card__designation">{{ testimonial.position }}</p><!-- /.testimonials-card__designation -->

                                        <div class="testimonials-card__quote">
                                            <i class="icon-quote"></i>
                                        </div>
                                    </div><!-- /.testimonials-card__top__left -->
                                </div><!-- /.testimonials-card__top -->
                                <div class="testimonials-card__shape2">
                                    <img src="{% static 'assets/images/shapes/testimonial-shape2-1.png' %}" alt="">
                                </div>
                            </div><!-- /.testimonials-card__inner -->
                        </div><!-- /.testimonials-card -->
                    </div><!-- /.item -->
{% endfor %}
                </div><!-- /.testimonials-one__carousel -->
            </div><!-- /.container -->
        </section><!-- /.testimonials-one -->

        <section class="free-booking-one">
            <div class="free-booking-one__bg" style="background-image: url('{% static 'assets/images/shapes/booking-bg1-1.jpg' %}');"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="free-booking-one__content">
                            <div class="free-booking-one__sctwrap wow fadeInUp" data-wow-delay="100ms">
                                <div class="sec-title">

                                    <div class="sec-title__img">
                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" direction="rtl" width="12.000000pt" height="10.000000pt" viewbox="0 0 12.000000 10.000000" preserveaspectratio="xMidYMid meet">
                                            <g transform="translate(0.000000,10.000000) scale(0.100000,-0.100000)" stroke="none">
                                                <path d="M58 84 c12 -8 22 -24 22 -34 0 -10 -10 -26 -22 -34 l-22 -16 27 0
			c17 0 32 9 43 25 15 23 15 27 0 50 -11 16 -26 25 -43 25 l-27 0 22 -16z"></path>
                                            </g>
                                        </svg>
                                    </div>


                                    <span class="sec-title__tagline">Free Book Now</span><!-- /.sec-title__tagline -->

                                    <h2 class="sec-title__title">Book a FREE <br> professional gardening <br> consultation!</h2><!-- /.sec-title__title -->
                                </div><!-- /.sec-title -->
                            </div>
                            <form class="form-one contact-one__form " method="POST">
                        {% csrf_token %}
                       
                        <div class="form-one__group">
                            <div class="form-one__control">
          
                                <input type="text" name="name" placeholder="Your Name" required>
                            </div>
                            <div class="form-one__control">
                           
                                <input type="email" name="email" placeholder="Email Address" required>
                            </div>
                            <div class="form-one__control">

                                <input type="text" name="tel" placeholder="Phone">
                            </div>
                            <div class="form-one__control">
                            <div class="form-one__control__select">
             
                                <select class="selectpicker" id="language-select" name="service">
                                    <option value="Choose Services">Choose Services</option>
                                    {% for service in ourservices %}
                                        <option value="{{ service.pagename }}">{{ service.pagename }}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </div>

                            <div class="form-one__control form-one__control--full">
                                <textarea name="message" placeholder="Your Message here" required></textarea>
                            </div>
                           
                            <div class="form-one__control form-one__control--full text-center">
                                <button type="submit" class="grdeen-btn"><span>Send a message</span></button>
                            </div>
                        </div>
                        </form>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="grdeen-stretch-element-inside-column">
                            <div class="free-booking-one__image">
                                <div class="free-booking-one__image__shape">
                                    <img src="{% static 'assets/images/shapes/booking-shape1-1.png' %}" alt="grdeen">
                                </div>
                                <div class="free-booking-one__image__maskingimg  wow fadeInRight" data-wow-delay="300ms">
                                    <img src="{% static 'assets/images/resources/book-image1-1.jpg' %}" alt="grdeen">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
            <div class="free-booking-one__shadow">
                <h1 class="free-booking-one__shadow__title">Gardening</h1>
            </div>
        </section><!-- /.free-booking-one -->

        <section class="team-one team-one--about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow fadeInUp" data-wow-delay="100ms">
                        <div class="project-one__sctwrap text-center">
                            <div class="sec-title">

                                <div class="sec-title__img">
                                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" direction="rtl" width="12.000000pt" height="10.000000pt" viewbox="0 0 12.000000 10.000000" preserveaspectratio="xMidYMid meet">
                                        <g transform="translate(0.000000,10.000000) scale(0.100000,-0.100000)" stroke="none">
                                            <path d="M58 84 c12 -8 22 -24 22 -34 0 -10 -10 -26 -22 -34 l-22 -16 27 0
			c17 0 32 9 43 25 15 23 15 27 0 50 -11 16 -26 25 -43 25 l-27 0 22 -16z"></path>
                                        </g>
                                    </svg>
                                </div>


                                <span class="sec-title__tagline">{{ ourexperts.last.title }}</span><!-- /.sec-title__tagline -->

                                <h2 class="sec-title__title">{{ ourexperts.last.subtitle }}</h2><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                        </div>
                    </div>
                </div>
                <div class="team-one__carousel grdeen-owl__carousel grdeen-owl__carousel--with-shadow grdeen-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
			"items": 1,
			"margin": 30,
			"loop": false,
			"smartSpeed": 700,
			"nav": false,
			"navText": "",
			"dots": false,
			"autoplay": false,
			"responsive": {
				"0": {
					"items": 1,
					"dots": true
				},
				"768": {
					"items": 2,
					"dots": true
				},
				"992": {
					"items": 3,
					"dots": false
				}
			}
			}'>
            {% for expert in ourexperts %}
                    <div class="item">
                        <div class="team-one__item">
                            <div class="team-card__bg-black"></div>
                            <div class="team-card__bg-base"></div>
                            <div class="team-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='000ms'>
                                <div class="team-card__content">
                                    <div class="team-card__titlewrap">
                                        <h4 class="team-card__title">
                                            <a href="{% url 'team_details' expert.id %}">{{ expert.name }}</a>
                                        </h4><!-- /.team-card__title -->
                                        <span class="team-card__designation">{{ expert.position }}</span><!-- /.team-card__designation -->
                                    </div>

                                    <div class="team-card__hover">
                                        <div class="team-card__social">
                                            <div class="team-card__social__iconwrap"><i class="icon-plus"></i></div>
                                            <div class="team-card__social__list">
                                                <a href="{{ expert.facebook_url }}">
                                                    <i class="fab fa-facebook-f"></i>
                                                    <span class="sr-only">Facebook</span>
                                                </a>
                                                <a href="{{ expert.twitter_url }}">
                                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                                    <span class="sr-only">Twitter</span>
                                                </a>
                                                <a href="{{ expert.telegram_url }}">
                                                    <i class="fab fa-telegram"></i>
                                                    <span class="sr-only">Telegram</span>
                                                </a>
                                                <a href="{{ expert.instagram_url }}">
                                                    <i class="fab fa-instagram"></i>
                                                    <span class="sr-only">Instagram</span>
                                                </a>
                                            </div><!-- /.team-card__social__list -->
                                        </div><!-- /.team-card__social -->
                                    </div><!-- /.team-card__hover -->
                                </div><!-- /.team-card__content -->

                                <div class="team-card__image">
                                    <img src="{{ expert.image.url }}" alt="{{ expert.name }}">
                                </div><!-- /.team-card__image -->
                            </div>
                        </div><!-- /.team-card -->
                    </div>
                {% endfor %}
                </div>
            </div>
        </section><!-- /.team-one -->
    {% endblock %}