   {% extends "base.html" %} {% load static %}
   {% block content %}
        <section class="page-header">
            <div class="page-header__bg"></div>
            <div class="page-header__shape wow fadeInUp" data-wow-delay="200ms"></div>
            <div class="page-header__overlay"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">Our blog</h2>
                <ul class="grdeen-breadcrumb list-unstyled">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>Blog grid</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="blog-page">
            <div class="container">
                <div class="row gutter-y-30">
                    {% for blog in ourblogs %}
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-card blog-card--two  wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                            <div class="blog-card__image">
                                <div class="blog-card__image__inner">
                                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                    <a href="blog-details-right.html" class="blog-card__image__link"></a>
                                </div>
                                <div class="blog-card__date">{{ blog.publish_date}}</div><!-- /.blog-card__date -->
                            </div><!-- /.blog-card__image -->
                            <div class="blog-card__content">
                                <div class="blog-card--two__shape" style="background-image: url({% static 'assets/images/shapes/blog-post2-shape.png' %});"></div>
                                <ul class="list-unstyled blog-card__meta">
                                    <li>
                                        <a href="blog-grid-right.html">
                                            <span><i class="fas fa-user"></i></span>
                                            By {{ blog.author }}
                                        </a>
                                    </li>
                                </ul><!-- /.list-unstyled blog-card__meta -->
                                <h3 class="blog-card__title"><a href="blog-details-right.html">{{ blog.minititle }}</a></h3><!-- /.blog-card__title -->
                                <p class="blog-card-two__text">
                                    {{ blog.content|truncatewords:20|safe }}
                                </p><!-- /.blog-card-two__text -->
                            </div><!-- /.blog-card-two__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                    {% endfor %}
                    <div class="col-md-12">
                        <div class="blog-pagination">
                            <span class="page-numbers current">1</span>
                            <a class="page-numbers" href="blog-grid-right.html">2</a>
                            <a class="page-numbers" href="blog-grid-right.html">3</a>
                            <a class="page-numbers" href="blog-grid-right.html">4</a>
                            <a class="next page-numbers" href="blog-grid-right.html">Last<i class="icon-up-arrow1"></i></a>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-one blog-one--page -->
{% endblock %}