{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg"></div>
        <div class="page-header__shape wow fadeInUp" data-wow-delay="200ms"></div>
        <div class="page-header__overlay"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title">Tez-tez so'raladigan savollar</h2>
            <ul class="grdeen-breadcrumb list-unstyled">
                <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
                <li><span>Tez-tez so'raladigan savollar</span></li>
            </ul><!-- /.thm-breadcrumb list-unstyled -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="faq-page">
        <div class="container">
            <h3 class="faq-page__sec-title">Savollar va Javoblar</h3>
            <p class="faq-page__sec-text">
                Biz tez-tez so'raladigan savollarga javob berishga harakat qilamiz. Agar sizda qo'shimcha savollar bo'lsa, iltimos, biz bilan bog'laning.
            </p>
            <h3 class="faq-page__title">Bizning Savol-Javob Xizmati</h3>
            <div class="faq-page__accordion grdeen-accrodion" data-grp-name="grdeen-accrodion">
                {% for faq in faqs %}
                <div class="accrodion {% if forloop.first %}active{% endif %}">
                    <div class="accrodion-title">
                        <h4>{{ faq.question }}
                            <span class="accrodion-title__icon"></span><!-- /.accrodion-title__icon -->
                        </h4>
                    </div><!-- /.accordian-title -->
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>
                                {{ faq.answer|safe }}
                            </p>
                        </div><!-- /.accordian-content -->
                    </div>
                </div><!-- /.accordian-item -->
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}