{% extends "base.html" %} {% load static %}
{% block content %}
<section class="page-header">
    <div class="page-header__bg"></div>
    <div class="page-header__shape wow fadeInUp" data-wow-delay="200ms"></div>
    <div class="page-header__overlay"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2 class="page-header__title">Parolni tiklash</h2>
        <ul class="grdeen-breadcrumb list-unstyled">
            <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
            <li><span>Parolni tiklash</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
    </div><!-- /.container -->
</section><!-- /.page-header -->

<!-- Password Reset Start -->
<section class="login-page">
    <div class="container">
        <div class="login-page__info">
            <p>Elektron pochta manzilingizni kiriting va biz parolingizni tiklashga yordam beramiz.</p>
        </div><!-- login-info -->
        <div class="row justify-content-center">
            <div class="col-lg-6 wow fadeInUp animated" data-wow-delay="300ms">
                <div class="login-page__wrap">
                    <h3 class="login-page__wrap__title">Parolni tiklash</h3>
                    <form class="login-page__form" method="post" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <div class="login-page__form-input-box">
                            <input type="email" name="email" placeholder="Elektron pochta manzilingiz *" required>
                        </div>
                        <div class="login-page__form-btn-box">
                            <button type="submit" class="grdeen-btn"><span>Parolni tiklash havolasini yuborish</span></button>
                            <div class="login-page__form-forgot-password">
                                <a href="{% url 'login' %}">Kirishga qaytish</a>
                            </div>
                        </div>
                    </form>
                </div><!-- password-reset-form -->
            </div>
        </div>
    </div>
</section>
<!-- Password Reset End -->
{% endblock %}