   {% extends "base.html" %} {% load static %}
   {% block content %}
        <section class="page-header">
            <div class="page-header__bg"></div>
            <div class="page-header__shape wow fadeInUp" data-wow-delay="200ms"></div>
            <div class="page-header__overlay"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">{{ ourprojects.project_name }}</h2>
                <ul class="grdeen-breadcrumb list-unstyled">
                    <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
                    <li><span>Loyiha tafsilotlari</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="project-details">
            <div class="container">
                {% if ourprojects %}
                <div class="project-details__image wow fadeInUp" data-wow-delay="100ms">
                    {% if ourprojects.image %}
                    <img src="{{ ourprojects.image.url }}" alt="{{ ourprojects.project_name }}">
                    {% endif %}
                </div>
                <div class="row gutter-y-60">
                    <div class="col-lg-8">
                        <div class="project-details__content wow fadeInUp" data-wow-delay="200ms">
                            <h3 class="project-details__title">{{ ourprojects.project_name }}</h3>
                            <p class="project-details__text">
                                {{ ourprojects.description }}
                            </p>
                            {% if ourprojects.project_link %}
                            <iframe width="560" height="315" src="{{ ourprojects.project_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                            {% endif %}
                           
                            <p class="project-details__text">
                               {{ ourprojects.content|safe }}
                            </p> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="project-details__sidebar wow fadeInUp" data-wow-delay="300ms">
                            
                            <div class="project-details__info-two" style="background-image: url({% static 'assets/images/resources/project-d-info-bg2.jpg' %});">
                                <h3 class="project-details__info-two__title">Bepul professional bog'dorchilik bo'yicha maslahat oling!</h3>
                                <a href="{% url 'contact' %}" class="grdeen-btn"><span>hoziroq buyurtma qiling</span></a><!-- slider-btn -->
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </section><!-- /.project-details -->

        <section class="related-project">
            <div class="container">
                <h3 class="related-project__title">Bizning o'xshash yakunlangan <br>loyihalarimiz</h3>
                <div class="project-one__carousel grdeen-owl__carousel grdeen-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
			"items": 1,
			"margin": 30,
			"loop": false,
			"smartSpeed": 700,
			"nav": false,
			"navText": "",
			"dots": false,
			"autoplay": false,
			"responsive": {
				"0": {
					"items": 1,
					"dots": true
				},
				"768": {
					"items": 2,
					"dots": false
				},
				"992": {
					"items": 3,
					"dots": false
				}
			}
			}'>
            {% for project in allprojects %}
                    <div class="item">
                        <div class="project-one__item wow fadeInUp" data-wow-delay="00ms">
                            <div class="project-one__item__image">
                                <img src="{{ project.image.url }}" alt="project" style="width: 328px; height: 347.52px;">
                            </div>
                            <div class="project-one__item__info">
                                <div class="project-one__item__bg">
                                    <strong class="project-one__item__tagtext">{{ project.category }}</strong>
                                    <h5 class="project-one__item__heading"><a href="{% url 'project_details' project.id %}">{{ project.title }}</a></h5>
                                    <a href="{% url 'project_details' project.id %}" class="project-one__item__right-arrow">
                                        <i class="icon-right-arrow2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- /.project-related -->
    {%  endblock %}