{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page-header">
    <div class="page-header__bg"
        style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg1-1.jpg' %}')"></div>
    <div class="page-header__overlay"></div>
    <div class="container">
        <h2 class="page-header__title">Search Results</h2>
        <ul class="grdeen-breadcrumb list-unstyled">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><span>Search</span></li>
        </ul>
    </div>
</section>

<section class="search-results section-space">
    <div class="container">
        {% if query %}
        <div class="search-info mb-5">
            <h3>Search Results for "{{ query }}"</h3>
            <p class="text-muted">Found {{ total_results }} result{{ total_results|pluralize }} ({{ products_count }}
                product{{ products_count|pluralize }}, {{ services_count }} service{{ services_count|pluralize }})</p>
        </div>
        {% endif %}

        {% if not query %}
        <div class="text-center">
            <div class="search-icon mb-4">
                <i class="icon-search" style="font-size: 64px; color: #ccc;"></i>
            </div>
            <h3>Enter a search term</h3>
            <p class="text-muted">Please enter a keyword to search for products and services.</p>
        </div>
        {% elif total_results == 0 %}
        <div class="text-center">
            <div class="search-icon mb-4">
                <i class="fas fa-search" style="font-size: 64px; color: #ccc;"></i>
            </div>
            <h3>No results found</h3>
            <p class="text-muted">Sorry, we couldn't find any products or services matching "{{ query }}". Try different
                keywords.</p>
            <a href="{% url 'products' %}" class="grdeen-btn mt-3">
                <span>Browse All Products</span>
            </a>
        </div>
        {% else %}

        <!-- Services Results -->
        {% if services_count > 0 %}
        <div class="services-results mb-5 service-one service-one--three">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-4">Services ({{ services_count }} found)</h4>
                </div>
            </div>
            <div class="row gutter-y-30">
                {% for service in services %}
                <div class="col-lg-4 col-md-6">
                        <div class="service-one__item">
                            <div class="service-one__item__bgeffect" style="background-image: url('{% static 'assets/images/shapes/service-shape3-1.png' %}');"></div>
                            <div class="service-one__item__titlewrap">
                                <div class="service-one__item__titlecol">
                                    <h4 class="service-one__item__title">
                                        <a href="{% url 'service_details' service.id %}">{{ service.pagename }}</a>
                                    </h4>
                                    <p class="service-one__item__text">{{ service.description|truncatewords:15 }}</p>
                                    <a class="service-one__item__link" href="{% url 'service_details' service.id %}">Discover More</a>
                                </div>
                            </div>
                            <div class="service-one__item__image">
                                <img src="{{ service.image.url }}" alt="{{ service.pagename }}">
                                <div class="service-one__item__iconwrap">
                                    <div class="service-one__item__icon">
                                        {{ service.icon|safe }}
                                    </div><!-- /.service-icon -->
                                </div>
                                <div class="service-one__item__btmwrap">
                                    <a class="service-one__item__iconlink" href="{% url 'service_details' service.id %}">
                                        <i class="icon-right-up"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.service-card-one -->
                    </div>
                {% endfor %}
            </div>

            <!-- Services Pagination -->
            {% if services.has_other_pages %}
            <div class="pagination-wrapper text-center mt-4">
                <ul class="pg-pagination list-unstyled">
                    {% if services.has_previous %}
                    <li class="pg-pagination__item">
                        <a href="?q={{ query }}&services_page={{ services.previous_page_number }}{% if request.GET.products_page %}&products_page={{ request.GET.products_page }}{% endif %}"
                            class="pg-pagination__link">
                            <i class="icon-left-arrow"></i>
                        </a>
                    </li>
                    {% endif %}

                    {% for num in services.paginator.page_range %}
                    {% if services.number == num %}
                    <li class="pg-pagination__item">
                        <a href="#" class="pg-pagination__link pg-pagination__link--current">{{ num }}</a>
                    </li>
                    {% elif num > services.number|add:'-3' and num < services.number|add:'3' %} <li
                        class="pg-pagination__item">
                        <a href="?q={{ query }}&services_page={{ num }}{% if request.GET.products_page %}&products_page={{ request.GET.products_page }}{% endif %}"
                            class="pg-pagination__link">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if services.has_next %}
                        <li class="pg-pagination__item">
                            <a href="?q={{ query }}&services_page={{ services.next_page_number }}{% if request.GET.products_page %}&products_page={{ request.GET.products_page }}{% endif %}"
                                class="pg-pagination__link">
                                <i class="icon-right-arrow"></i>
                            </a>
                        </li>
                        {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endif %}

        <!-- Products Results -->
        {% if products_count > 0 %}
        <div class="products-results">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-4">Products ({{ products_count }} found)</h4>
                </div>
            </div>
            <div class="row gutter-y-30">
                {% for product in products %}
                <div class="col-md-6 col-lg-4">
                    <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='000ms'>
                        <div class="product__item__img">
                            {% if product.main_image %}
                            <a href="{% url 'product_details' product.id %}"><img src="{{ product.main_image.url }}"
                                    alt="{{ product.name }}" style="width:290px; height:243px"></a>
                            {% else %}
                            <a href="{% url 'product_details' product.id %}"><img
                                    src="{% static 'assets/images/image404.png' %}" alt="{{ product.name }}"
                                    style="width:290px; height:243px"></a>
                            {% endif %}
                            <div class="product__item__label">
                                <span class="product__item__label__sale">{{ product.status }}</span>
                            </div>
                            <div class="product__item__label2 product__action-buttons"
                                style="position: absolute;right: 15px; top: 15px; z-index: 1;">
                                <div class="action-buttons-wrapper">
                                    {% if user.is_authenticated %}
                                    <a href="#" class="product-action-btn wishlist-btn like_product"
                                        data-id="{{ product.id }}" title="Add to Wishlist">
                                        <i class="icon-heart"></i>
                                        <span class="btn-tooltip">Add to Wishlist</span>
                                    </a>
                                    <a href="#" class="product-action-btn cart-btn cart_api" data-id="{{ product.id }}"
                                        title="Add to Cart">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="btn-tooltip">Add to Cart</span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'login' %}" class="product-action-btn wishlist-btn"
                                        title="Login to Add to Wishlist">
                                        <i class="icon-heart"></i>
                                        <span class="btn-tooltip">Login to Add to Wishlist</span>
                                    </a>
                                    <a href="{% url 'login' %}" class="product-action-btn cart-btn"
                                        title="Login to Add to Cart">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="btn-tooltip">Login to Add to Cart</span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="product__item__content-wrap">
                            <div class="product__item__btn">
                                <a href="{% url 'product_details' product.id %}" class="grdeen-btn"><span>View
                                        Details</span></a>
                            </div>
                            <div class="product__item__content">
                                <h4 class="product__item__title"><a href="{% url 'product_details' product.id %}">{{
                                        product.name }}</a></h4>
                                <div class="product__item__price">
                                    <span class="product__item__price__regular">${{ product.price }}</span>
                                    {% if product.old_price %}
                                    <span class="product__item__price__offer">${{ product.old_price }}</span>
                                    {% endif %}
                                </div>
                                <div class="product__item__ratings">
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span><span
                                        class="fa fa-star"></span><span class="fa fa-star"></span><span
                                        class="far fa-star"></span>
                                </div>
                                <div class="product__item__views"
                                    style="margin-top: 8px; color: #666; font-size: 13px;">
                                    <i class="fa fa-eye" style="margin-right: 5px;"></i>{{ product.views }} views
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Products Pagination -->
            {% if products.has_other_pages %}
            <div class="pagination-wrapper text-center mt-4">
                <ul class="pg-pagination list-unstyled">
                    {% if products.has_previous %}
                    <li class="pg-pagination__item">
                        <a href="?q={{ query }}&products_page={{ products.previous_page_number }}{% if request.GET.services_page %}&services_page={{ request.GET.services_page }}{% endif %}"
                            class="pg-pagination__link">
                            <i class="icon-left-arrow"></i>
                        </a>
                    </li>
                    {% endif %}

                    {% for num in products.paginator.page_range %}
                    {% if products.number == num %}
                    <li class="pg-pagination__item">
                        <a href="#" class="pg-pagination__link pg-pagination__link--current">{{ num }}</a>
                    </li>
                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %} <li
                        class="pg-pagination__item">
                        <a href="?q={{ query }}&products_page={{ num }}{% if request.GET.services_page %}&services_page={{ request.GET.services_page }}{% endif %}"
                            class="pg-pagination__link">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if products.has_next %}
                        <li class="pg-pagination__item">
                            <a href="?q={{ query }}&products_page={{ products.next_page_number }}{% if request.GET.services_page %}&services_page={{ request.GET.services_page }}{% endif %}"
                                class="pg-pagination__link">
                                <i class="icon-right-arrow"></i>
                            </a>
                        </li>
                        {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% endif %}
    </div>
</section>

<!-- Advanced Search Section -->
{% if query and total_results > 0 %}
<section class="search-suggestions section-space-bottom">
    <div class="container">
        <div class="text-center">
            <h4>Didn't find what you're looking for?</h4>
            <p class="text-muted mb-4">Try browsing our categories or contact us for assistance.</p>
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <a href="{% url 'products' %}" class="grdeen-btn w-100">
                        <span>All Products</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'services' %}" class="grdeen-btn grdeen-btn--base w-100">
                        <span>All Services</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'contact' %}" class="grdeen-btn grdeen-btn--base-two w-100">
                        <span>Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}