   {% extends "base.html" %} {% load static %}
   {% block content %}
        <section class="page-header">
            <div class="page-header__bg"></div>
            <div class="page-header__shape wow fadeInUp" data-wow-delay="200ms"></div>
            <div class="page-header__overlay"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">{% if category %}{{ category.name }}{% else %}Servis Tafsilotlari{% endif %}</h2>
                <ul class="grdeen-breadcrumb list-unstyled">
                    <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
                    <li><a href="{% url 'services' %}">Xizmatlar</a></li>
                    <li><span>{% if category %}{{ category.name }}{% else %}Servis Tafsilotlari{% endif %}</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="service-details">
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-md-12 col-lg-4">
                        <div class="service-sidebar">
                            <div class="service-sidebar__single">
                                <h3 class="service-sidebar__title">Kategoriyalar ro'yxati</h3><!-- /.service-sidebar__title -->
                                <ul class="list-unstyled service-sidebar__nav">
                                    {% for category_item in categories %}
                                    <li>
                                        <a href="{% url 'service_details' category_item.slug %}">
                                            {{ category_item.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul><!-- /.list-unstyled service-sidebar__nav -->
                            </div><!-- /.service-sidebar__single -->
                            <div class="service-sidebar__single">
                                <div class="service-sidebar__contact" style="background-image: url({% static 'assets/images/shapes/service-contact-bg-1-1.jpg' %});">
                                    <h3 class="service-sidebar__contact__title">Yordam kerak bo'lsa, tezda bog'laning</h3><!-- /.service-sidebar__contact__title -->
                                    <a href="{% url 'contact' %}" class="grdeen-btn">
                                        <span>Taklif olish</span>
                                    </a>
                                </div><!-- /.service-sidebar__contact -->
                            </div>
                        </div><!-- /.sidebar -->
                    </div><!-- /.col-md-12 col-lg-4 -->
                    <div class="col-md-12 col-lg-8">
                        <div class="service-details__content">
                            {% if category %}
                            <h1>{{ category.name }}</h1>
                            <p class="service-details__text">
                                {{ category.description|safe }}
                            </p><!-- /.service-details__text -->
                            
                            {% if category_services %}
                            <div class="category-services mt-4">
                                <h3 class="mb-4">Kategoriyaga tegishli xizmatlar</h3>
                                <div class="row gutter-y-30">
                                    {% for cat_service in category_services %}
                                    <div class="col-lg-6 col-md-6">
                                        <div class="service-one__item">
                                            <div class="service-one__item__bgeffect" style="background-image: url('{% static 'assets/images/shapes/service-shape3-1.png' %}');"></div>
                                            <div class="service-one__item__titlewrap">
                                                <div class="service-one__item__titlecol">
                                                    <h4 class="service-one__item__title">
                                                        <a href="{% url 'service_details' cat_service.slug %}">{{ cat_service.pagename|default:cat_service.title }}</a>
                                                    </h4>
                                                    {% if cat_service.description %}
                                                    <p class="service-one__item__text">{{ cat_service.description|truncatewords:15 }}</p>
                                                    {% endif %}
                                                    <a class="service-one__item__link" href="{% url 'service_details' cat_service.slug %}">Batafsil</a>
                                                </div>
                                            </div>
                                            {% if cat_service.image %}
                                            <div class="service-one__item__image">
                                                <img src="{{ cat_service.image.url }}" alt="{{ cat_service.pagename|default:cat_service.title }}">
                                                <div class="service-one__item__iconwrap">
                                                    {% if cat_service.icon %}
                                                    <div class="service-one__item__icon">
                                                        {{ cat_service.icon|safe }}
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="service-one__item__btmwrap">
                                                    <a class="service-one__item__iconlink" href="{% url 'service_details' cat_service.slug %}">
                                                        <i class="icon-right-up"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div><!-- /.service-card-one -->
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            {% else %}
                            <h1>{{ service.title }}</h1>
                            {% if service.description %}
                            <p class="service-details__text">
                                {{ service.description|safe }}
                            </p><!-- /.service-details__text -->
                            {% endif %}
                            {% endif %}
                            
                        </div><!-- /.service-details__content -->
                    </div><!-- /.col-md-12 col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.service-details -->
    {% endblock %}