   {% extends "base.html" %} {% load static %}
   {% block content %}
        <section class="page-header">
            <div class="page-header__bg"></div>
            <div class="page-header__shape wow fadeInUp" data-wow-delay="200ms"></div>
            <div class="page-header__overlay"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">{% if category %}{{ category.name }}{% else %}Servis Tafsilotlari{% endif %}</h2>
                <ul class="grdeen-breadcrumb list-unstyled">
                    <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
                    <li><a href="{% url 'services' %}">Xizmatlar</a></li>
                    <li><span>{% if category %}{{ category.name }}{% else %}Servis Tafsilotlari{% endif %}</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="service-details">
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-md-12 col-lg-4">
                        <div class="service-sidebar">
                            <div class="service-sidebar__single">
                                <h3 class="service-sidebar__title">Kategoriyalar ro'yxati</h3><!-- /.service-sidebar__title -->
                                <ul class="list-unstyled service-sidebar__nav">
                                    {% for category_item in categories %}
                                    <li>
                                        <a href="{% url 'service_details' category_item.id %}" {% if category_item.id == category.id %}class="current"{% endif %} >
                                            {{ category_item.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul><!-- /.list-unstyled service-sidebar__nav -->
                            </div><!-- /.service-sidebar__single -->
                            <div class="service-sidebar__single">
                                <div class="service-sidebar__contact" style="background-image: url({% static 'assets/images/shapes/service-contact-bg-1-1.jpg' %});">
                                    <h3 class="service-sidebar__contact__title">Yordam kerak bo'lsa, tezda bog'laning</h3><!-- /.service-sidebar__contact__title -->
                                    <a href="{% url 'contact' %}" class="grdeen-btn">
                                        <span>Taklif olish</span>
                                    </a>
                                </div><!-- /.service-sidebar__contact -->
                            </div>
                        </div><!-- /.sidebar -->
                    </div><!-- /.col-md-12 col-lg-4 -->
                    <div class="col-md-12 col-lg-8">
                        <div class="service-details__content">
                            <h1>{{ category.name }}</h1>
                             <p class="service-details__text">

                       
                                    {{ category.description|safe }}

                            </p><!-- /.service-details__text -->
                            
                        </div><!-- /.service-details__content -->
                    </div><!-- /.col-md-12 col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.service-details -->
    {% endblock %}